# System files
.DS_Store
.idea/
.mypy_cache/

# Jupyter Notebook files
*.ipynb
.ipynb_checkpoints/
scripts/.ipynb_checkpoints/
selfcond/.ipynb_checkpoints/

# Python cache files
scripts/__pycache__/

# Data files
*.pkl
datasets/conceptnet/
fasttext/
mid_output/
path_to_save_responses/
set_appropriate_path_2/

# Logs and text files
logs/
git-patches/
text_*.txt

# Shell scripts
main_test_env.sh

# Old project files
old_eacl2024/
